@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #efefef;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 850px) {
  html {
    max-width: 850px;
  }
}

.dark {
  background-color: #252525;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #005c28;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #004520;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #3a3a3a;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4ade80;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #005c28 #f1f1f1;
}

.dark .custom-scrollbar {
  scrollbar-color: #4ade80 #3a3a3a;
}
